:root {
  --clr-orange: #FFC63B;
  --clr-purple: #7C30E4;
  --clr-red: #FF4A4A;
  
  --clr-light-orange: #FFC63B5E;
  --clr-light-purple: #7C30E45E;
  --clr-light-red: #FF4A4A5E;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  display: grid;
  place-items: center;
  min-height: 100svh;
  
  color: #222;
  font-family: system-ui;
  
  background: #ecfeff;
  overflow-x: hidden;
}

img,
button,
input,
svg {
  display: block;
}

img {
  width: 100%;
}

button,
input {
  outline: 0;
  border: 0;
  background: transparent;
}

ul {
  list-style: none;
}

main {
  display: grid;
  gap: .5rem;
  width: 95%;
  max-width: 400px;
  
  padding: 2rem;
  
  background: white;
  border-radius: .5rem;
  box-shadow: 4px 4px 12px rgba(20, 20, 20, 0.45);
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}


article {
  padding: 1rem;
  
  border-radius: .25rem;
  border-left: 8px solid transparent;
}

.article-head {
  display: flex;
  align-items: center;
  gap: 1.125rem;
  width: 100%;
}

.article-info-toggle {
  max-height: 200px !important;
}

.active-plus {
  transform: rotate(0deg) !important;
}

.plus {
  transform: rotate(45deg);
  transition: .3s linear;
}

.article-title {
  font-weight: 500;
}

.article-info {
  font-size: 0.875rem;
  overflow: hidden;
  max-height: 0;
  transition: .3s linear;
}

.article-info p {
  padding: 1.5rem;
}

.article-yellow {
  background: var(--clr-light-orange);
  border-color: var(--clr-orange);
}

.article-purple {
  background: var(--clr-light-purple);
  border-color: var(--clr-purple);
}

.article-red {
  background: var(--clr-light-red);
  border-color: var(--clr-red);
}
